<h1>Editar Equipe</h1>
<p id="notice"><%= notice %></p>
<%= render 'form' %>
<br />
<%= link_to 'Visualizar', @team , :class => "btn btn-primary" %>
<%= link_to 'Voltar', teams_path , :class => "btn btn-primary" %>
