<h1>Editar Equipe</h1>
<p id="notice"><%= notice %></p>
<%= render 'form' %>

<div class="row">
  <div class="col-md-8">
    <div class="field form-group">
      <%= link_to 'Visualizar', @team , :class => "btn btn-primary pull-right btn-show-edit" %>
      <%= link_to 'Voltar', teams_path , :class => "btn btn-primary pull-right btn-return-edit" %>
    </div>
  </div>
</div>
