a.disabled {
    pointer-events: none;
    opacity: 0.5;
}

div.field_with_errors + br {
  display: none
}

.field_with_errors.form-group.has-error {
    margin: 0;
}

textarea{
  resize: none;
}

.btn-add-integrantes{
  position: absolute;
  margin-top: -34px;
}

.simple_captcha{
  margin: 30px 0 30px;
}

.btn-return-edit{
  margin: -34px 226px;
}

.btn-show-edit, .btn-return-new{
  margin: -34px 138px;
}
