a.disabled {
    pointer-events: none;
    opacity: 0.5;
}

div.field_with_errors + br {
  display: none
}

.field_with_errors.form-group.has-error {
    margin: 0;
}

textarea{
  resize: none;
}

.btn-add-integrantes{
  position: absolute;
  margin-top: -34px;
}
